@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex; /*arrange main layout*/
  flex-direction: column; /*push footer and header in right position*/
  justify-content: space-between; /*push footer and header in right position*/
  align-items: center; /*push footer and header in right position*/
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px; /*size the buttons prettier*/
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul{
  list-style-type: none; /*delete list marker*/
}

a{
  text-decoration: none; /* delte underline from links */
  color: black; /* make links normal color */
  padding: 8px; /*space between links*/
}

.header{
  display: flex;
  width: 100%; /*set width max so links go in the right corner*/
  justify-content: space-between;
  padding: 6px;
}

.footer{
  display:flex;
  width: 100%; /*set width max so links go in the right corner*/
  justify-content: space-between; /*set links in right corner*/
  background-color:#eeeeee; /*footer right color*/
  padding: 6px;
}

.right-links, .left-links{
 display: flex; /*arrange links correct in row*/
}

.content{
  display: flex; 
  flex-direction: column; /*column to order containers right*/
  align-items: center; /* center all items */
  justify-content: space-evenly; /*space between content containers*/
}